
.header{
    display: flex;
    flex-direction: row;
    background-color:#281247 ;
    gap: 800px;
   position: sticky;
  
}
.ussu{
    margin-left: 80px;
    color: white;
    font-size: 70px;
        font-family: "Island Moments", cursive;
        font-weight: 400;
        font-style: normal;
}
a{
    
    color: white;
    text-decoration: none;
    margin-left: 25px;
    
}
.info{
    padding-top: 30px;
}
 .ab:hover{
    color: rgb(179, 117, 218);
    
 }
 .cv{
    margin-left: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 6px;
    padding-left: 9px;
    padding-right: 9px;
    background-color: rgb(179, 117, 218);
    color: rgb(26, 4, 39);
    transition: all 1s ease;
    font-weight: 3px;
    border-color: rgb(39, 10, 61);
    border-width: 3px;
    
 }
 .cv:hover{
    transform: scale(0.8); 
    background-color: #bf6ecd;
    color: white;
 }

 

